/glacier.iml
/src/main/resources/static/
/frontend/.angular/
/frontend/node_modules/
/.idea/
/target/
/e2e-infrastructure/mastodon/
/e2e-infrastructure/postgres/
/e2e-infrastructure/redis/
/e2e-infrastructure/glacier/glacier.jar
/e2e-infrastructure/v3.ext
/e2e-infrastructure/proxy.crt
/e2e-infrastructure/proxy.csr
/e2e-infrastructure/proxy.key
/e2e-infrastructure/traefik.yml
/e2e-infrastructure/mastodon.env
/e2e-infrastructure/dynamic.yml
/test-results
