.hashtag {
  padding: 8px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hashtag-button {
  width: 200px;
  border-radius: 5px;
  background-color: #3293a3;
  background-image: linear-gradient(to bottom, #fff 0%, #3293a3 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 3000ms ease-in-out;
}
.hashtag-button:hover {
  background-color: #4acad7;
  background-image: linear-gradient(to bottom, #fff 0%, #4acad7 100%);
  transition: background 3000ms ease-in-out;
}

