:host {
  max-width: fit-content;
  flex-shrink: 0;
  flex-grow: 0;
}

iframe {
  width: 400px;
  overflow: hidden;

  flex: none;

  border-radius: 4px;
  margin: 4px;
  border: 1px solid #10303f;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.15);
}
