:host {
  display: block;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

h2 {
  margin: 24px;
}

button {
  margin-left: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);

  height: max-content;
  border-radius: 4px;
}
