/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
  font-family: "juggerRock";
  src: url("/assets/juggerrock.ttf");
}
html, body {
  a {
    color: #3293a3;
  }
  a:hover {
    color: #4acad7;
  }
  a:active {
    color: #4acad7;
  }
  background-color: #d3ecf0;
  color: #123342;
  margin: 0;
  height: calc(100% - 8px);
}
