:host {
  flex-shrink: 0;
  flex-grow: 0;

  border-top: 1px solid #10303f;
}

footer {
  padding: 8px 8px 0 8px;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex: none;
}

span.handle{
  color: #3293a3;
  text-decoration: underline;
}

div.legal{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3293a3;
  text-decoration: underline;
}
