<footer>
  <div class="howto">
    <span i18n="@@footer.howto.prefix">Möchtest du deine Toots hier sehen?&nbsp;Erwähne</span>
    <span class="handle">&#64;{{mastodonHandle}}</span>
    <span i18n="@@footer.howto.suffix">in deinem Toot und verwende einen der Hashtags.</span>
  </div>
  <button class='legal' type="button"
          i18n-aria-label="@@footer.legal.button.aria"
          aria-label="Impressum und Datenschutzerklärung öffnen"
          (click)="openLegal()">
    <!--suppress HtmlUnknownTag -->
    <mat-icon aria-hidden="true" svgIcon="legal_notice_icon"></mat-icon>
    <span i18n="@@footer.legal.button.label">Impressum &amp; Datenschutz</span>
  </button>
  <div class="copyright">
    <span i18n="@@footer.opensource.prefix">Glacier ist Open Source:</span>
    <a href='https://github.com/seism0saurus/glacier' rel='noopener noreferrer' target='_blank'>https://github.com/seism0saurus/glacier</a>
  </div>
</footer>
